
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --mainpurple: #420948;
    --footer: #19001b;
    --header-purple: #420948c6; /* Transparency added */
    --checkboxes-container: #17031dba; /* Transparency added */
    --pink-shadow: #62046bd6; /* Transparency added */
    --ligthblue: #4860cd; /* can be used for highlights */
  }

h1, h2, h3, h4 button {
    font-family: 'Abril Fatface', cursive;
}
  
#website-title a {
    font-size: 60px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 4px 4px 6px black;
  }

#cuisine-title-logo a {
    font-size: 44px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    text-shadow: 4px 4px 6px black;
}

#cuisine-title {
    font-size: 65px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-shadow: 3px 3px 8px #19001b;
}

#continue-btn {
    font-size: 28px;
    font-family: 'Abril Fatface', cursive;
}


.hidden {
    display: none;
}

.close-button {
  float: right;
}

.logo {
    height: 20px;
    width: 20px;
    background-position: center ;      
}

/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
} */

/* #main-background-photo {
    background-image: url(/assets/images/pratham-gupta-unsplash_mdf.png);
}
/* Delete indiancuisine-banner */
#indiancuisine-banner {
    background-image: url(/assets/images/debashis-rc-biswas-unsplash_indiancuisine.png);
} */

#country-page button {
    font-size: 1.6rem;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 4px 4px 6px black;
    background-blend-mode: darken, luminosity;
    border-radius: 50%;
    border: 2px solid white;
    border-radius: 100px;
}

#country-page button:hover {
    filter: brightness(150%);
    text-shadow: 4px 4px 8px black;
    box-shadow: 4px 4px 8px #7f148b;
    border-radius: 100px;
}

#music-page button {
    border-radius: 100px;
    font-size: 1.6rem;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 3px 3px 6px black;
    box-shadow: 2px 2px 2px white;
}

#music-page button:hover {
    font-size: 1.8rem;
    border-radius: 100px;
    filter: brightness(140%);
    box-shadow: 4px 4px 8px white;
    text-shadow: 3px 3px 8px #591075;
}

@media screen and (max-width:1024px){
.nav-link{
    width: 60%;
}
}
@media screen and (max-width:768px)
 {
    .nav-link{
        position: absolute;
        right: 0%;
        height: 92vh;
        top: 8vh;
        background-color: aliceblue;
        flex-direction: column;
        align-items: center;
    }
}
