
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

:root {
    --mainpurple: #420948;
    --footer: #19001b;
    --header-purple: #420948c6; /* Transparency added */
    --checkboxes-container: #17031dba; /* Transparency added */
    --pink-shadow: #62046bd6; /* Transparency added */
    --ligthblue: #4860cd; /* can be used for highlights */
  }

h1, h2, h3, h4 button {
    font-family: 'Abril Fatface', cursive;
}
  
#website-title a {
    font-size: 60px;
    color: white;
    font-family: 'Abril Fatface', cursive;
  }

#continue-btn {
    font-size: 28px;
    font-family: 'Abril Fatface', cursive;

}

.logo {
    height: 20px;
    width: 20px;
    background-position: center ;      
}

/* #main-background-photo {
    background-image: url(/assets/images/pratham-gupta-unsplash_mdf.png);
}

#indiancuisine-banner {
    background-image: url(/assets/images/debashis-rc-biswas-unsplash_indiancuisine.png);
} */
 
#country-page button {
    font-size: 1.7rem;
    font-family: 'Abril Fatface';
    text-shadow: 4px 4px 6px black;
    background-blend-mode: darken, luminosity;
    border-radius: 50%;
    border: 2px solid white;
}
#country-page button:hover {
    filter: brightness(150%);
    text-shadow: 4px 4px 8px black;
    box-shadow: 4px 4px 8px #7f148b;
}


#music-page button {
    font-size: 1.6rem;
    font-family: 'Abril Fatface';
    text-shadow: 3px 3px 6px black;
}

@media screen and (max-width:1024px){
.nav-link{
    width: 60%;
}
}
@media screen and (max-width:768px)
 {
    .nav-link{
        position: absolute;
        right: 0%;
        height: 92vh;
        top: 8vh;
        background-color: aliceblue;
        flex-direction: column;
        align-items: center;
    }
}
